#google-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#searchform {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#searchbox {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#google-search {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#feelinglucky {
    display: block;
    margin-left: auto;
    margin-right: auto;
}